ion-content.background {

    --ion-background-color: #1c1f2cdc;
}

ion-toolbar.toolbar {
    --ion-background-color:#262250;
    color: white;
    text-align: center;

}

.search {
    margin-top: 30%;
  
}