.pelis {
  text-align: center;

  background: rgba(255, 255, 255, 0.397);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.349);
}

.card-title {

  font-size: 3vh;
}